schemas/

.env
.idea/

# Logs
logs/

# Documentation
docs/source/api_reference/_apidoc_generated/
docs/source/api_reference/_architecture_generated/
docs/source/api_reference/sequence/*.svg
docs/source/_generated/
docs/build/

# macOS
*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Grimp cache
.grimp_cache/
.pytest_cache/
.ruff_cache/

# Python
*.whl

# VSCode
.vscode
